$colors: (
  major: #00D252,
  minor: #2F3B59,
  headline: #333,
  description: #333,
  nav-bg: white,
  btn-subscribe-bg-color: #98acf8,
  btn-subscribe-color: white
);

$navbar-height: 64px;

$margins: (
  sm: 15px,
  md: 30px,
  lg: 45px
);
